.form-container {
    position: absolute;
    top: 15vh;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgb(170, 169, 169);
}

main {
    padding: 70px;
}
nav {
    padding: 0 40px;
}
.nav-item {
    padding: 0 20px;
}
.edit-link {
    padding: 0 50px;
}